
<RadSideDrawer tkExampleTitle="tkExampleTitle" tkToggleNavButton="tkToggleNavButton">
  <StackLayout class="sideStackLayout" tkDrawerContent="tkDrawerContent">
    <StackLayout class="sideTitleStackLayout">
      <Image class="img-rounded" src="{{user.image}}" height="100" width="100" stretch="aspectFill"></Image>
      <Label text="Hola {{user.name}}"></Label>
    </StackLayout>
    <StackLayout class="sideStackLayout">
      <StackLayout class="sideItem" orientation="horizontal" (tap)="navigate('/home')">
        <Image height="20" src="~/assets/img/home.png" verticalAlignment="center"></Image>
        <Label class="sideLabel" text="Home" verticalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="sideItem" orientation="horizontal" (tap)="navigate('/my-orders')">
        <Image height="20" src="~/assets/img/play-button.png" verticalAlignment="center"></Image>
        <Label class="sideLabel" text="Servicios" verticalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="sideItem" orientation="horizontal">
        <Image height="20" src="~/assets/img/discount.png" verticalAlignment="center"></Image>
        <Label class="sideLabel" text="Promociones" verticalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="sideItem" orientation="horizontal">
        <Image height="20" src="~/assets/img/history.png" verticalAlignment="center"></Image>
        <Label class="sideLabel" text="Historial" verticalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="sideItem" orientation="horizontal" (tap)="navigate('/help')">
        <Image height="20" src="~/assets/img/help.png" verticalAlignment="center"></Image>
        <Label class="sideLabel" text="Ayuda" verticalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="sideItem" orientation="horizontal" (tap)="navigate('/settings')">
        <Image height="20" src="~/assets/img/settings.png" verticalAlignment="center"></Image>
        <Label class="sideLabel" text="Configuración" verticalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="center" orientation="horizontal">
        <Image width="20%" height="20" src="~/assets/img/faucet.png"></Image>
        <Image width="20%" height="20" src="~/assets/img/plug.png"></Image>
        <Image width="20%" height="20" src="~/assets/img/monitor.png"></Image>
        <Image width="20%" height="20" src="~/assets/img/paintbrush.png"></Image>
        <Image width="20%" height="20" src="~/assets/img/spray.png"></Image>
      </StackLayout>
    </StackLayout>
    <Image class="image-margin" src="~/assets/img/logoicon.png" height="60"></Image>
    <Label text="Cerrar sesión" color="lightgray" padding="15" style="horizontal-align: center" (tap)="logout()"></Label>
  </StackLayout>
  <StackLayout tkMainContent="tkMainContent">
    <StackLayout class="menu-nav" zIndex="-200" orientation="vertical" [style.background]="'url(' + service.image + ')'">
      <StackLayout class="black-mask">       
        <StackLayout orientation="horizontal" height="50%">
          <Image height="15" width="15%" (tap)="openDrawer()" src="~/assets/img/menu.png"></Image>
          <Image height="25" width="70%" src="~/assets/img/logoicon.png"></Image>
          <Image height="20" width="15%" src="~/assets/img/search.png"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal" height="50%">
          <Label class="medium-text white-text" verticalAlignment="center" horizontalAlignment="center" width="100%" style="text-align: center;" [text]="service.name"></Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>
    <page-router-outlet zIndex="99999"></page-router-outlet>
  </StackLayout>
</RadSideDrawer>