StackLayout
    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=350", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Reparación de baño")
            Label.secondary-text(text="$540")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 2 horas.")
    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=2ahUKEwi9trW5l_faAhWM3VMKHYzSBRMQjRx6BAgBEAU&url=http%3A%2F%2Ftime.com%2Ftime-person-of-the-year-2017-silence-breakers%2F&psig=AOvVaw03goMawuXbZywLTFGl8hz9&ust=1525905594882131", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Reparación de baño")
            Label.secondary-text(text="$540")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 4 horas.")

    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="http://www.person.hu/data/upload/pics/mate_original.png", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Servicio de plomería")
            Label.secondary-text(text="$240")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 6 horas.")

    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Reparación de baño")
            Label.secondary-text(text="$500")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 1 día.")

    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=350", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Destape de tubería")
            Label.secondary-text(text="$220")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 2 días.")