
<StackLayout>
  <StackLayout class="menu-item background-blue" orientation="horizontal">
    <StackLayout verticalAlignment="center" width="30%">
      <Image class="img-rounded" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350" width="60" height="60" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Reparación de baño"></Label>
      <Label class="secondary-text" text="$540"></Label>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Hace 2 horas."></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout class="menu-item background-blue" orientation="horizontal">
    <StackLayout verticalAlignment="center" width="30%">
      <Image class="img-rounded" src="https://www.google.com/url?sa=i&amp;rct=j&amp;q=&amp;esrc=s&amp;source=imgres&amp;cd=&amp;cad=rja&amp;uact=8&amp;ved=2ahUKEwi9trW5l_faAhWM3VMKHYzSBRMQjRx6BAgBEAU&amp;url=http%3A%2F%2Ftime.com%2Ftime-person-of-the-year-2017-silence-breakers%2F&amp;psig=AOvVaw03goMawuXbZywLTFGl8hz9&amp;ust=1525905594882131" width="60" height="60" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Reparación de baño"></Label>
      <Label class="secondary-text" text="$540"></Label>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Hace 4 horas."></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout class="menu-item background-blue" orientation="horizontal">
    <StackLayout verticalAlignment="center" width="30%">
      <Image class="img-rounded" src="http://www.person.hu/data/upload/pics/mate_original.png" width="60" height="60" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Servicio de plomería"></Label>
      <Label class="secondary-text" text="$240"></Label>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Hace 6 horas."></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout class="menu-item background-blue" orientation="horizontal">
    <StackLayout verticalAlignment="center" width="30%">
      <Image class="img-rounded" src="https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg" width="60" height="60" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Reparación de baño"></Label>
      <Label class="secondary-text" text="$500"></Label>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Hace 1 día."></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout class="menu-item background-blue" orientation="horizontal">
    <StackLayout verticalAlignment="center" width="30%">
      <Image class="img-rounded" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=350" width="60" height="60" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Destape de tubería"></Label>
      <Label class="secondary-text" text="$220"></Label>
    </StackLayout>
    <StackLayout width="40%" verticalAlignment="center">
      <Label class="white-text" text="Hace 2 días."></Label>
    </StackLayout>
  </StackLayout>
</StackLayout>