ScrollView.page
    StackLayout(orientation="vertical", height="100%")
        StackLayout.background-blue(orientation="vertical", height="30%", [style.background]="'url(\"~/assets/img/plomeria.png\")'")
            StackLayout.black-mask        
                StackLayout(orientation="horizontal", height="50%")
                    StackLayout(width="15%")      
                    Image(height="25" width="70%" src="~/assets/img/logoicon.png")
                StackLayout(orientation="horizontal", height="50%")
                    Label.medium-text.white-text(verticalAlignment="center", horizontalAlignment="center", width="100%", style="text-align: center;", text="Selecciona tu especialidad")
        
        GridLayout(height="70%", columns="*,*", rows="auto,auto,auto")
            StackLayout.background-white.item(*ngFor="let job of jobs; index as i", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", [row]="i/2", [col]="i%2", [nsRouterLink]="['/certification-lub']", height="120", orientation="vertical")
                StackLayout(width="100%", verticalAlignment="center")
                    Image([src]="job.image", stretch="aspectFill", height="60", width="60")
                StackLayout(orientation="vertical", marginLeft="4%", verticalAlignment="center", marginTop="10", horizontalAlignment="center")
                    Label([text]="job.name")
                
                
    
    