
<ScrollView class="page">
  <StackLayout orientation="vertical" height="100%">
    <StackLayout class="background-blue" orientation="vertical" height="30%" [style.background]="'url(&quot;~/assets/img/plomeria.png&quot;)'">
      <StackLayout class="black-mask">       
        <StackLayout orientation="horizontal" height="50%">
          <StackLayout width="15%">     </StackLayout>
          <Image height="25" width="70%" src="~/assets/img/logoicon.png"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal" height="50%">
          <Label class="medium-text white-text" verticalAlignment="center" horizontalAlignment="center" width="100%" style="text-align: center;" text="Selecciona tu especialidad"></Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>
    <GridLayout height="70%" columns="*,*" rows="auto,auto,auto">
      <StackLayout class="background-white item" *ngFor="let job of jobs; index as i" padding="5" margin="5" verticalAlignment="center" horizontalAlignment="center" [row]="i/2" [col]="i%2" [nsRouterLink]="['/certification-lub/' + job.id]" height="120" orientation="vertical">
        <StackLayout width="100%" verticalAlignment="center">
          <Image [src]="job.image" stretch="aspectFill" height="60" width="60"></Image>
        </StackLayout>
        <StackLayout orientation="vertical" marginLeft="4%" verticalAlignment="center" marginTop="10" horizontalAlignment="center">
          <Label [text]="job.name"></Label>
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</ScrollView>