doctype html
FlexboxLayout.page.start-background
    StackLayout.form
        Image.logo-centered(src="~/assets/img/logoone.png" verticalAlign="bottom")    
        Button.button-left-white([nsRouterLink]="['/sign-up']", text="Unirme")
        Button.button-right-white([nsRouterLink]="['/sign-in']", text="Iniciar sesión")