StackLayout
    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=350", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Reparación de baño")
            Label.secondary-text(text="$540")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 2 horas.")
    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://www.gloo.ng/busyhomemaker/wp-content/uploads/2016/01/woman-without-makeup-on.jpg", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Reparación de baño")
            Label.secondary-text(text="$540")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 4 horas.")

    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="http://www.person.hu/data/upload/pics/mate_original.png", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Servicio de plomería")
            Label.secondary-text(text="$240")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 6 horas.")

    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Reparación de baño")
            Label.secondary-text(text="$500")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 1 día.")

    StackLayout.menu-item.background-blue(orientation="horizontal")
        StackLayout(verticalAlignment="center", width="30%")
            Image.img-rounded(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=350", width="60", height="60", stretch="aspectFill")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Destape de tubería")
            Label.secondary-text(text="$220")
        StackLayout(width="40%", verticalAlignment="center")
            Label.white-text(text="Hace 2 días.")
    StackLayout.background-blue(marginTop="1", height="100%")