
<StackLayout class="background-blue" height="60" orientation="horizontal" padding="5" verticalAlignment="center">
  <Image height="15" width="20%" src="~/assets/img/close.png" (tap)="back()"></Image>
  <Image height="30" width="60%" src="~/assets/img/logoicon.png" (tap)="home()"></Image>
  <Image height="20" width="20%" src="~/assets/img/tick.png" (tap)="confirmOrder()">       </Image>
</StackLayout>
<StackLayout class="background-blue" orientation="vertical" horizontalAlignment="center" height="100%">
  <Image class="img-rounded" [src]="service.image" heigth="100" marginTop="20" width="100"></Image>
  <Label class="white-text" [text]="service.user_name" horizontalAlignment="center"></Label>
  <Label class="white-text" [text]="service.price" horizontalAlignment="center"></Label>
  <Label class="secondary-text medium-text" [text]="service.name" horizontalAlignment="center"></Label>
  <StackLayout width="20%" orientation="horizontal">
    <Image src="~/assets/img/paper-plane.png" height="30" width="30"></Image>
  </StackLayout>
  <StackLayout height="40%">
    <GridLayout columns="*" rows="*">
      <MapView col="0" row="0" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" mapAnimationsEnabled="true" (mapReady)="onMapReady($event)"></MapView>
    </GridLayout>
  </StackLayout>
  <StackLayout class="button-stack" verticalAlignment="center" margin="10" *ngIf="!service.confirmed">
    <Label class="white-text" text="Confirmar servicio" horizontalAlignment="center" (tap)="confirmService()"></Label>
  </StackLayout>
  <StackLayout class="button-stack" verticalAlignment="center" margin="10" *ngIf="service.confirmed">
    <Label class="white-text" text="Concluir servicio" horizontalAlignment="center"></Label>
  </StackLayout>
  <Label class="white-text" margin="10" text="Nota: Recuerda que un gran servicio es una gran calificación. El equipo LikeUBird te desea éxito." horizontalAlignment="center" textWrap="true"></Label>
  <StackLayout class="background-blue" height="100%"></StackLayout>
</StackLayout>