
<StackLayout class="background-blue" height="100%" orientation="vertical" horizontalAlignment="center" style="overflow:visible">
  <Image class="img-rounded" [src]="worker.image" heigth="100" marginTop="20" width="100"></Image>
  <Label [text]="worker.name" horizontalAlignment="center"></Label>
  <Label class="secondary-text" [text]="worker.km + ' km'" horizontalAlignment="center" marginTop="5"></Label>
  <Label [text]="worker.description" horizontalAlignment="center" margin="10" textWrap="true"></Label>
  <Label text="Servicios:" marginTop="20" marginLeft="10" wrapping="true"></Label>
  <GridLayout columns="*, *" rows="auto,auto,auto">
    <StackLayout orientation="horizontal" margin="10" [col]="i % 2 == 0 ? 0 : 1" [row]="floor((i)/2)" height="20" *ngFor="let skill of worker.skills; let i = index" verticalAlignment="center">
      <Image height="20" [src]="skill.icon"></Image>
      <Label [text]="skill.name" textWrap="true"></Label>
    </StackLayout>
  </GridLayout>
  <Label text="Fotos:" marginTop="10" marginLeft="10"></Label>
  <GridLayout columns="auto, auto, auto, auto" rows="auto">
    <StackLayout marginLeft="10" orientation="horizontal" height="50" width="50" margin="1" [col]="i" [row]="0" *ngFor="let photo of worker.photos; let i = index" verticalAlignment="center">
      <Image [src]="photo.url" stretch="aspectFill"></Image>
    </StackLayout>
  </GridLayout>
  <StackLayout verticalAlignment="bottom" height="100%">
    <Button class="bottom-button" text="Solicitar servicio" (tap)="makeOrder()"></Button>
  </StackLayout>
</StackLayout>