StackLayout.page
    StackLayout.background-blue(padding="20")
        Label(text="Preguntas frecuentes")
    StackLayout.background-blue(padding="20")
        Label(horizontalAlignment="center", text="#CuéntanosElIncidente")
        TextField.input.input-border.full-width.white-text-field(height="200", textWrap="true") 
        Label.secondary-text(horizontalAlignment="right", text="Enviar", padding="10")
    StackLayout.background-blue(height="100%")
        