StackLayout(orientation="vertical")
    StackLayout.background-blue(orientation="vertical", height="20%", [style.background]="'url(\"' + imagen + '\")'")
        StackLayout.black-mask        
            StackLayout(orientation="horizontal", height="50%")
                StackLayout(width="15%")      
                Image(height="25" width="70%" src="~/assets/img/logoicon.png")
            StackLayout(orientation="horizontal", height="50%")
                Label.medium-text.white-text(verticalAlignment="center", horizontalAlignment="center", width="100%", style="text-align: center;", text="Reclutamiento y certificación de LUB")
    ScrollView()
        StackLayout.form(marginTop="15")
            Label.title(text="Elige tu avatar LUB")
            GridLayout( columns="*,*,*,*", rows="auto")
                StackLayout.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="0", col="0", height="120", orientation="vertical")
                    StackLayout(width="100%", verticalAlignment="center")
                        Image(src="~/assets/img/user1.png", stretch="aspectFill", height="40", width="40")
                StackLayout.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="0", col="1", height="120", orientation="vertical")
                    StackLayout(width="100%", verticalAlignment="center")
                        Image(src="~/assets/img/user2.png", stretch="aspectFill", height="40", width="40")
                StackLayout.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="0", col="2", height="120", orientation="vertical")
                    StackLayout(width="100%", verticalAlignment="center")
                        Image(src="~/assets/img/user3.png", stretch="aspectFill", height="40", width="40")
                StackLayout.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="0", col="3", height="120", orientation="vertical")
                    StackLayout(width="100%", verticalAlignment="center")
                        Image(src="~/assets/img/user4.png", stretch="aspectFill", height="40", width="40")
            Label.title(text="Tu resumen de Aplicación LUB")
            GridLayout( columns="*,*", rows="auto,auto")
                StackLayout.gray-item.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="0", col="0", height="50", orientation="vertical")
                    StackLayout.gray-item(width="100%", verticalAlignment="center")
                        Label(textWrap="true", width="100%", horizontalAlignment="center", text="Horarios Disponible")
                StackLayout.gray-item.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="0", col="1", height="50", orientation="vertical")
                    StackLayout.gray-item(width="100%", verticalAlignment="center")
                        Label(textWrap="true", width="100%", horizontalAlignment="center", text="Día preferido")
                StackLayout.gray-item.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="1", col="0", height="50", orientation="vertical")
                    StackLayout.gray-item(width="100%", verticalAlignment="center")
                        Label(textWrap="true", width="100%", horizontalAlignment="center", text="Calendarizar semana LUB")
                StackLayout.gray-item.background-white.item([class.selected]="job.selected", padding="5", margin="5", verticalAlignment="center", horizontalAlignment="center", row="1", col="1", height="50", orientation="vertical")
                    StackLayout.gray-item(width="100%", verticalAlignment="center")
                        Label(textWrap="true", width="100%", horizontalAlignment="center", text="Locación favorita")
            Button.purple-button(text="Continuar", [nsRouterLink]="['/welcome-worker']")
                
                    